.scroll-content {
  display: inline-flex;
  animation: scrollLeft 20s linear infinite;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
